@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: white;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  border-left: 2px solid black;
}

::-webkit-scrollbar-thumb {
  background: black;
}

button {
  font-family: 'Courier New', Courier, monospace;
}
